h1{
    display: block;
    text-align: center;
    font-size: 3em;
    font-family: "Comic Sans";
    font-style: bold;
}

h3{
    font-family: "Times New Roman";
    font-weight: 600;
    font-style: bold;
    font-size: large;
}

label{
    text-align: center;
    justify-content: center;
    display: inline-block;
    padding-left: 35%;
}

button{
    background-color: lightblue;
    font-size: 1em;
}

#testo1{
    display: inline;
    padding-left: 40%;
    padding-right: 2%;
}

#my_p{
    font-size: 2.5em;
}

#logo{
    display:block; 
    margin: auto; 
}

/* This section of CSS is designated for phone screen viewing */
@media screen and (max-width:600px){
    #trash_table{
        font-size: 90%;
    }
}
